# For Github CMake Project Template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeProfile_*.cmake

# For CLion
.idea
/cmake-build-debug*
.clion.source.upload.marker

# For ESP-IDF
/build
*.old

# For vscode
/.vscode